* {
  margin: 0;
}

body {
  background-color: lightgray;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  flex: 0.9;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__lineGraph {
  margin-top: 20px;
}

.app__dev {
  margin-top: 20px;
  display: flex;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
    justify-content: space-between;
  }
}